<p id="notice"><%= notice %></p>

<p>
  <strong>Addv title:</strong>
  <%= @addv.addv_title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @addv.image %>
</p>

<p>
  <strong>Newspaper:</strong>
  <%= @addv.newspaper %>
</p>

<p>
  <strong>City:</strong>
  <%= @addv.city %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @addv.organization %>
</p>

<p>
  <strong>Addv date:</strong>
  <%= @addv.addv_date %>
</p>

<p>
  <strong>Last date:</strong>
  <%= @addv.last_date %>
</p>

<%= link_to 'Edit', edit_addv_path(@addv) %> |
<%= link_to 'Back', addvs_path %>
