<%= form_for(education) do |f| %>
  <% if education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :institute_id %>
    <%= f.text_field :institute_id %>
  </div>

  <div class="field">
    <%= f.label :degree_id %>
    <%= f.text_field :degree_id %>
  </div>

  <div class="field">
    <%= f.label :tmarks %>
    <%= f.number_field :tmarks %>
  </div>

  <div class="field">
    <%= f.label :omarks %>
    <%= f.number_field :omarks %>
  </div>

  <div class="field">
    <%= f.label :sdate %>
    <%= f.date_select :sdate %>
  </div>

  <div class="field">
    <%= f.label :endyear %>
    <%= f.date_select :endyear %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
